flow.json
[
    {
        "id": "cc585ba53d34a911",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "182d3223c1260b67",
        "type": "tab",
        "label": "Camera Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f842624d5e0544e8",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5f48f9abaf283188",
        "type": "tab",
        "label": "RFID Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0342a0cdf5d7ca65",
        "type": "sqlitedb",
        "db": "/data/database.db",
        "mode": "RWC"
    },
    {
        "id": "367ecc55a7054ddf",
        "type": "sqlitedb",
        "db": "/data/iotsolution.db",
        "mode": "RWC"
    },
    {
        "id": "ad650e799ceb7d26",
        "type": "inject",
        "z": "cc585ba53d34a911",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 540,
        "y": 280,
        "wires": [
            [
                "4f6b78c612172a4e"
            ]
        ]
    },
    {
        "id": "4f6b78c612172a4e",
        "type": "debug",
        "z": "cc585ba53d34a911",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 300,
        "wires": []
    },
    {
        "id": "1260dc43a233b4b8",
        "type": "inject",
        "z": "182d3223c1260b67",
        "name": "Camera",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 520,
        "wires": [
            [
                "c3c377905c3e4515"
            ]
        ]
    },
    {
        "id": "c3c377905c3e4515",
        "type": "function",
        "z": "182d3223c1260b67",
        "name": "Get variables",
        "func": "msg.params = { $id: flow.get(\"cameraID\"), $num: flow.get(\"numDetected\") };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 520,
        "wires": [
            [
                "113d021c60870a78",
                "94069236aba25289"
            ]
        ]
    },
    {
        "id": "ce2fe3fa876da4c7",
        "type": "inject",
        "z": "182d3223c1260b67",
        "name": "Camera ID 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "id",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 80,
        "wires": [
            [
                "ac8f78b9fd53299a"
            ]
        ]
    },
    {
        "id": "1fe193152ae4d1ce",
        "type": "inject",
        "z": "182d3223c1260b67",
        "name": "numDetected 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "numDetected",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 240,
        "wires": [
            [
                "6f8048c763db2aed"
            ]
        ]
    },
    {
        "id": "ac8f78b9fd53299a",
        "type": "change",
        "z": "182d3223c1260b67",
        "name": "Set ID",
        "rules": [
            {
                "t": "set",
                "p": "cameraID",
                "pt": "flow",
                "to": "id",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "92c456d60e8743be"
            ]
        ]
    },
    {
        "id": "6f8048c763db2aed",
        "type": "change",
        "z": "182d3223c1260b67",
        "name": "Set numDetected",
        "rules": [
            {
                "t": "set",
                "p": "numDetected",
                "pt": "flow",
                "to": "numDetected",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 280,
        "wires": [
            [
                "a187cc7b1df4f721"
            ]
        ]
    },
    {
        "id": "9756b6a5082dd65e",
        "type": "inject",
        "z": "182d3223c1260b67",
        "name": "Camera ID 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "id",
                "v": "2",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "ac8f78b9fd53299a"
            ]
        ]
    },
    {
        "id": "e1dc323e0654a184",
        "type": "inject",
        "z": "182d3223c1260b67",
        "name": "Camera ID 3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "id",
                "v": "3",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "ac8f78b9fd53299a"
            ]
        ]
    },
    {
        "id": "92c456d60e8743be",
        "type": "debug",
        "z": "182d3223c1260b67",
        "name": "ID Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "id",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 120,
        "wires": []
    },
    {
        "id": "c5f28438004d18d5",
        "type": "inject",
        "z": "182d3223c1260b67",
        "name": "numDetected 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "numDetected",
                "v": "2",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 280,
        "wires": [
            [
                "6f8048c763db2aed"
            ]
        ]
    },
    {
        "id": "558b154121b1be90",
        "type": "inject",
        "z": "182d3223c1260b67",
        "name": "numDetected 3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "numDetected",
                "v": "3",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 320,
        "wires": [
            [
                "6f8048c763db2aed"
            ]
        ]
    },
    {
        "id": "a187cc7b1df4f721",
        "type": "debug",
        "z": "182d3223c1260b67",
        "name": "numDetected",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "numDetected",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 280,
        "wires": []
    },
    {
        "id": "94069236aba25289",
        "type": "debug",
        "z": "182d3223c1260b67",
        "name": "variables",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "params",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 560,
        "wires": []
    },
    {
        "id": "113d021c60870a78",
        "type": "sqlite",
        "z": "182d3223c1260b67",
        "mydb": "0342a0cdf5d7ca65",
        "sqlquery": "fixed",
        "sql": "UPDATE Cameras SET numDetected = 5 WHERE cameraID = 1;",
        "name": "Update camera numDetected",
        "x": 710,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "3690872c15f9a63c",
        "type": "sqlite",
        "z": "5f48f9abaf283188",
        "mydb": "367ecc55a7054ddf",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "iot DB",
        "x": 1170,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "031274933e5da9a4",
        "type": "function",
        "z": "5f48f9abaf283188",
        "name": "Create Update Query",
        "func": "if (msg.topic === \"\")\n{\n    msg.topic = 0;\n}\nvar statement = \"UPDATE RFIDList SET roomID = \" + msg.topic + \" WHERE RFID = \\\"\" + msg.payload + \"\\\"\";\nvar newmsg = {topic: statement};\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 180,
        "wires": [
            [
                "be0bb92a267f9327",
                "3690872c15f9a63c"
            ]
        ]
    },
    {
        "id": "be0bb92a267f9327",
        "type": "debug",
        "z": "5f48f9abaf283188",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "c8314966f143b3f7",
        "type": "inject",
        "z": "5f48f9abaf283188",
        "name": "RFID Scanner",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "roomnum",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "rfid",
        "payloadType": "flow",
        "x": 510,
        "y": 180,
        "wires": [
            [
                "031274933e5da9a4",
                "2346d3bf91b09bfe"
            ]
        ]
    },
    {
        "id": "ef0baea360079b49",
        "type": "inject",
        "z": "5f48f9abaf283188",
        "name": "Room 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 490,
        "y": 260,
        "wires": [
            [
                "63c4f702d66878ce"
            ]
        ]
    },
    {
        "id": "bc211187d06ccc72",
        "type": "inject",
        "z": "5f48f9abaf283188",
        "name": "Room 2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "str",
        "x": 490,
        "y": 320,
        "wires": [
            [
                "63c4f702d66878ce"
            ]
        ]
    },
    {
        "id": "84190ae1ca48da69",
        "type": "inject",
        "z": "5f48f9abaf283188",
        "name": "Room 3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "str",
        "x": 490,
        "y": 380,
        "wires": [
            [
                "63c4f702d66878ce"
            ]
        ]
    },
    {
        "id": "63c4f702d66878ce",
        "type": "change",
        "z": "5f48f9abaf283188",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "roomnum",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "0b35accc602aa3fe",
        "type": "inject",
        "z": "5f48f9abaf283188",
        "name": "c65e3be8-849c-46f0-9906-d7df37a4d9fc",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "c65e3be8-849c-46f0-9906-d7df37a4d9fc",
        "payloadType": "str",
        "x": 600,
        "y": 580,
        "wires": [
            [
                "e650f823e6fd72c9"
            ]
        ]
    },
    {
        "id": "e859083f0e35025e",
        "type": "inject",
        "z": "5f48f9abaf283188",
        "name": "51b304c6-ceb2-404b-b576-5bec8cc4008a",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "51b304c6-ceb2-404b-b576-5bec8cc4008a",
        "payloadType": "str",
        "x": 600,
        "y": 640,
        "wires": [
            [
                "e650f823e6fd72c9"
            ]
        ]
    },
    {
        "id": "5fb939e2063f6a7b",
        "type": "inject",
        "z": "5f48f9abaf283188",
        "name": "4d6a4996-0373-4539-b05c-7c93a056a6a5",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4d6a4996-0373-4539-b05c-7c93a056a6a5",
        "payloadType": "str",
        "x": 600,
        "y": 700,
        "wires": [
            [
                "e650f823e6fd72c9"
            ]
        ]
    },
    {
        "id": "e650f823e6fd72c9",
        "type": "change",
        "z": "5f48f9abaf283188",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rfid",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "f542c63fb91ea041",
        "type": "inject",
        "z": "5f48f9abaf283188",
        "name": "No Room",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 480,
        "y": 440,
        "wires": [
            [
                "63c4f702d66878ce"
            ]
        ]
    },
    {
        "id": "2346d3bf91b09bfe",
        "type": "debug",
        "z": "5f48f9abaf283188",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 80,
        "wires": []
    }
]